<footer class="footer">

    <div class="footer-top">

        <div class="footer-column">
            <h3>Support</h3>

            <a href="#">Help Centre</a>
            <a href="#">Get help with a safety issue</a>
            <a href="#">AirCover</a>
            <a href="#">Anti-discrimination</a>
            <a href="#">Disability support</a>
            <a href="#">Cancellation options</a>
            <a href="#">Report neighbourhood concern</a>
        </div>

        <div class="footer-column">
            <h3>Hosting</h3>

            <a href="#">ExploreStay your home</a>
            <a href="#">ExploreStay your experience</a>
            <a href="#">ExploreStay your service</a>
            <a href="#">AirCover for Hosts</a>
            <a href="#">Hosting resources</a>
            <a href="#">Community forum</a>
            <a href="#">Hosting responsibly</a>
            <a href="#">Join a free hosting class</a>
            <a href="#">Find a co-host</a>
            <a href="#">Refer a host</a>
        </div>

        <div class="footer-column">
            <h3>ExploreStay</h3>

            <a href="#">2026 Summer Release</a>
            <a href="#">Newsroom</a>
            <a href="#">Careers</a>
            <a href="#">Investors</a>
            <a href="#">Emergency stays</a>
        </div>

    </div>

    <hr>

    <div class="f-info">

    <div class="f-info-socials">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-linkedin"></i>
    </div>

    <div class="f-info-brand">
        &copy; 2026 ExploreStay Private Limited
    </div>

    <div class="footer-center">
        <div class="f-info-contact">
            <i class="fa-solid fa-envelope"></i>
            <a href="mailto:sunil8292tiwari@gmail.com">
                sunil8292tiwari@gmail.com
            </a>
        </div>

        <div class="f-info-links">
            <a href="https://www.airbnb.co.in/privacy?locale=en&_set_bev_on_new_domain=1780996758_EAZTA5YmVlMDdmZW&set_everest_cookie_on_new_domain=1780996758.EANThhNDQwNDFiMTFlMW.KsLRv-QVFlSkjRdYwD9z2WnJBu_kwJdkfdfnoDDY51c">Privacy</a>
            <a href="https://www.airbnb.co.in/host/homes?account_id=169000300&campaign_id=471028571&ad_id=80951673073133&ad_group_id=1295225859176496&keyword_id=kwd-80951884177551:loc-90&device=c&&c=.pi2.pk471028571_1295225859176496&msclkid=707de864342a1897d49a8243d4a31a5a&utm_source=bing&utm_medium=cpc&utm_campaign=EN%2BIND%3AHOST%3ABRD&utm_term=how%20airbnb%20works&utm_content=Getting%20Started%20Hosting&gclid=707de864342a1897d49a8243d4a31a5a&gclsrc=3p.ds&gad_source=7&gad_campaignid=22019189759">Terms</a>
        </div>
    </div>

</div>
</footer>