<nav class="navbar">
    <div class="logo">
        <a href="/listings">
            <i class="fa-solid fa-compass"></i>
            ExploreStay
        </a>
    </div>

    <div class="search-container">
        <form action="/listings" method="GET">
            <div class="search-box">
                <i class="fa-solid fa-magnifying-glass"></i>

                <input
                    type="text"
                    name="search"
                    placeholder="Search rooms, hotels, apartments..."
                >

                <button class="search-btn">
                    Search
                </button>
            </div>
        </form>
    </div>

    <div class="nav-links">
        <a href="/listings/new">Add Listing</a>

        <a href="/login">Log In</a>

        <a href="/signup" class="signup-btn">
            Sign Up
        </a>
    </div>
</nav>